<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
         <h3><%= errors[x].messages %></h3>
        <% } %>
    <% } %>
    <form action='/message' method='post'>
        <label>Name:</label><input type='text' name = 'name'><br>
        <label>Message:</label><br>
        <textarea rows='5' cols='50' name='message'> </textarea>
        <input type='submit' value='Post Message'>
    </form>
    <% for(message of messages){ %>
        <h4><%= message.name %></h4>
        <h4><%= message.message %></h4>
        <% for(comment of message.comments){ %>
            <h6><%= comment.name %></h6>
            <h6><%= comment.comment %></h6>
        <% } %>
        <form action='/comment' method='post'>
            <label>Name:</label><input type='text' name = 'name'><br>
            <label>Comment:</label><br>
            <textarea rows='3' cols='30' name='comment'> </textarea>
            <input type='hidden' name='message_ID' value='<%=message._id%>'>
            <input type='submit' value='Post Comment'>
        </form>
    <% } %>
</body>
</html>